<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Tentang Aplikasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- HERO -->
  <div class="hero">
    <ion-icon name="wallet-outline"></ion-icon>
    <h1>Aplikasi Tabungan</h1>
    <p>Kelola keuangan dengan mudah dan rapi</p>
  </div>

  <!-- INFO CEPAT -->
  <ion-grid>
  <ion-row>
    <ion-col size="4">
      <div class="info-box">
        <ion-icon name="arrow-down-circle-outline"></ion-icon>
        <h3>Pemasukan</h3>
        <p>Uang masuk</p>
      </div>
    </ion-col>

    <ion-col size="4">
      <div class="info-box">
        <ion-icon name="arrow-up-circle-outline"></ion-icon>
        <h3>Pengeluaran</h3>
        <p>Uang keluar</p>
      </div>
    </ion-col>

    <ion-col size="4">
      <div class="info-box">
        <ion-icon name="wallet-outline"></ion-icon>
        <h3>Saldo</h3>
        <p>Total akhir</p>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>


  <!-- FITUR -->
    <ion-item lines="none">
  <ion-label>
    <h1>Fitur Apilkasi</h1>
  </ion-label>
</ion-item>  

  <ion-item lines="none">
  <ion-icon slot="start" name="add-circle-outline" color="success"></ion-icon>
  <ion-label>
    <h3>Input Tabungan Harian</h3>
    <p>Catat pemasukan dan pengeluaran</p>
  </ion-label>
</ion-item>

<ion-item lines="none">
  <ion-icon slot="start" name="trash-outline" color="danger"></ion-icon>
  <ion-label>
    <h3>Hapus Data Tabungan</h3>
    <p>Kelola dan bersihkan data</p>
  </ion-label>
</ion-item>

<ion-item lines="none">
  <ion-icon slot="start" name="calculator-outline" color="primary"></ion-icon>
  <ion-label>
    <h3>Hitung Saldo Otomatis</h3>
    <p>Total saldo diperbarui otomatis</p>
  </ion-label>
</ion-item>

<ion-item lines="none">
  <ion-icon slot="start" name="time-outline" color="medium"></ion-icon>
  <ion-label>
    <h3>Riwayat Transaksi</h3>
    <p>Lihat histori tabungan</p>
  </ion-label>
</ion-item>


  <!-- TEKNOLOGI -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="code-slash-outline"></ion-icon>
        Teknologi Digunakan
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="tech">
        <span>Ionic Angular</span>
        <span>PHP Native</span>
        <span>MySQL</span>
        <span>XAMPP</span>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- FOOTER -->
  <div class="footer">
  <p><strong>Versi 1.0.0</strong></p>
  <p>Dikembangkan untuk pembelajaran</p>
  <p class="author">
    Dibuat oleh<br>
    <strong>M. YUSRIANSYAH PUTRA NST</strong><br>
    NIM 23090012
  </p>
</div>


</ion-content>
